{:widget('Common/head')}

<div class="inner_wrap">
    <div class="lunbo">
        <div class="lunbo_wrap">
            <ul class="lunbo_list">
                <li class="lunbo_show"><a href=""><img src="__STATIC__/index/img/lunbo1.jpg" alt=""></a></li>
                <li><a href=""><img src="__STATIC__/index/img/lunbo2.jpg" alt=""></a></li>
                <li><a href=""><img src="__STATIC__/index/img/lunbo3.jpg" alt=""></a></li>
                <li><a href=""><img src="__STATIC__/index/img/lunbo4.jpg" alt=""></a></li>
                <li><a href=""><img src="__STATIC__/index/img/lunbo5.jpg" alt=""></a></li>
                <li><a href=""><img src="__STATIC__/index/img/lunbo6.jpg" alt=""></a></li>
            </ul>

        </div>
        <div class="lunbo_buttons">
            <ul>
                <li>99元慢食组合</li>
                <li>有机紫水晶火龙果</li>
                <li>纸袋回收计划</li>
                <li>大规格</li>
                <li>10分钟搞定快手菜</li>
                <li>满赠</li>
            </ul>
            <span class="lunbo_button_on"></span>
        </div>
    </div>
    <div class="recommend">
        <ul>
            <li class="recommend_item">
                <a href=""><img src="__STATIC__/index/img/recommend1.jpg" alt=""></a>
                <p><a href="">
                    可以喝的沙拉
                </a></p>
                <div class="recommend_desc">
                    均衡全食饮，可以喝的沙拉！1瓶包含10种蔬果、粗粮谷物、植物蛋白，维生素和酶的活性完整保存。红瓶抗氧化，绿瓶清肠道，健康好味道！
                </div>
            </li>
            <li class="recommend_item">
                <a href=""><img src="__STATIC__/index/img/recommend2.jpg" alt=""></a>
                <p><a href="">
                    优惠专区
                </a></p>
                <div class="recommend_desc">
                    在这个优惠自选区里，有很多好的食材值得一试，只要经过简单的处理，就可以享受到美食的味道。                </div>
            </li>
            <li class="recommend_item">
                <a href=""><img src="__STATIC__/index/img/recommend3.jpg" alt=""></a>
                <p><a href="">
                    海拔3300米小金青苹果
                </a></p>
                <div class="recommend_desc">
                    川藏高原独特的气候环境给予最自然的味道；生产过程不用农药、化肥和除草剂 ,果实甘甜可口，吸引周边鸟儿们每天来吃。                </div>
            </li>
            <li class="recommend_item" style="margin-right: 0">
                <a href=""><img src="__STATIC__/index/img/recommend4.jpg" alt=""></a>
                <p><a href="">
                    可以喝的沙拉
                </a></p>
                <div class="recommend_desc">
                    均衡全食饮，可以喝的沙拉！1瓶包含10种蔬果、粗粮谷物、植物蛋白，维生素和酶的活性完整保存。红瓶抗氧化，绿瓶清肠道，健康好味道！
                </div>
            </li>
        </ul>
    </div>
    <div class="hot">
        <ul>
            <div>
                <div class="hot_logo"><img src="__STATIC__/index/img/hot_logo.jpg" alt=""></div>
                <li class="">
                    <div class="rank">1</div>
                    <div class="item-img"><span class="tag"><img src="__STATIC__/index/img/tehui_tag.png" alt=""></span><img src="__STATIC__/index/img/hot_big_1.jpg" alt=""></div>
                    <div>
                        <h3 class="goods_name"><a href="">长的慢-食材好 A</a></h3>
                        <div><a class="des" href="" title="一米市集严选">一米市集严选</a><span class="product_unit">1组/份</span></div>
                        <div class="goods_price"><span class="sell_price">￥99.00</span><span class="market_price">￥114.00</span></div>
                    </div>
                </li>
            </div>
            <div>


            </div>


        </ul>

    </div>

</div>


</body>
</html>