<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="__STATIC__/index/style/login.css" type="text/css">
</head>
<body>
<div class="innerwrap">
    <div class="box">
        <div class="signin">
            <div class="signtitle">
                <h2>登录</h2>
            </div>
            <form action="{:url('Login/dologin')}">
                <ul>
                    <li class="item">
                        <label class="formlable">登录账号</label>
                        <span class="formact">
                            <input class="x-input" type="text" name="username" id="dom_el_9198271" value="" placeholder="用户名/邮箱地址/手机号" vtype="required" data-caution="请填写登录帐号" autofocus="autofocus">
                        </span>
                    </li>
                    <li class="item">
                        <label for="" class="formlabel">密码</label>
                        <span class="formact">
        <input class="x-input" type="password" name="password" id="dom_el_9198272" placeholder="填写密码" vtype="required" data-caution="请填写密码" oncontextmenu="return false;" onpaste="return false;">      </span>
                    </li>
                    <li class="item spe_user">
                        <label for="" class="formlabel"></label>
                        <span class="formact">
        <input type="checkbox" name="is_remember" id="for_remember" class="x-check action-remember-account" checked="checked">
        <label for="for_remember" class="form-sub-label">记住帐号</label>
      </span>
                    </li>
                    <li class="normal">
                        <label for="" class="formlabel"></label>
                        <span class="formact">
        <button type="submit" class="btn btn-big" rel="_request">
          <i class="hide"></i>登 录
        </button>
        <a class="forget_pd" href="">忘记密码？</a>
      </span>
                    </li>
                </ul>
            </form>
            <div class="need-signup">
                <div class="sin-logo"></div>
                <div class="text_box">
                    <strong>我不是会员，</strong>
                    <a href="">要加入。</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>