{:widget('Common/head')}
    <link rel="stylesheet" href="/static/index/style/cart.css" type="text/css">

<body>
<div class="mainbox">
    <div class="main">
        <div class="title">
            <h1>购物车</h1>
        </div>
        <div id="cart_steps" class="">
            <table width="100%"><tbody>
            <tr>
                <th></th>
                <th style="width: 45px;"></th>
                <th></th>
                <th style="width: 45px;"></th>
                <th></th>
            </tr>
            <tr>
                <td class="ym_step common"><a>
                    <span class="step_number">1</span>购物篮</a></td>
                <td class="ym_step_arrow"></td><td class="ym_step">
                <a href="javascript:void(0);" name="Submit">
                    <span class="step_number">2</span>结账</a></td>
                <td class="ym_step_arrow"></td>
                <td class="ym_step"><a>
                    <span class="step_number">3</span>收银台</a>
                </td>
            </tr>
            </tbody>
            </table>
        </div>
        {if empty($cart)}
        <div class="cart-empty">
            <img src="/static/index/img/ym_icon_cart.png">
            <p>购物篮中空空的喔,慢慢逛，不要忘记带上「食欲」</p>
        </div>
        {else}
        <table class="cart_table" cellpadding="0" cellspacing="0">
            <thead>
                <tr class="th">
                    <th width="50"><input type="checkbox"  class="inp1"></th>
                    <th width="100">商品</th>
                    <th></th>
                    <th ><p style="margin-top:9px">售价</p></th>
                    <th ><p style="margin-top:9px">数量</p></th>
                    <th ><p style="margin-top:9px">小计</p></th>
                    <th ><p style="margin-top:9px">操作</p></th>
                </tr>
            </thead>
            <tbody>

            {foreach $cart as $v}
                <tr >
                    <td>
                        <input type="checkbox" {if ($v.selected eq 1)}checked="checked"{/if} class="inp2" onclick="selectGoods({$v.goods_id})">
                    </td>
                    <td><img src="{$v.image_s_url}" style="width: 44px;height: 44px " alt=""></td>
                    <td>{$v.goods_name}</td>
                    <td >￥{$v.sell_price}.00</td>
                    <td class="num-btns"><input type="submit" value="-" class="dec-btn">
                        <input type="text" value="{$v.goods_num}" class="num">
                        <input type="submit" value="+" class="inc-btn">
                    </td>
                    <td >￥{$v.sell_price*$v.goods_num}.00</td>
                    <td ><input type="submit" value=" " name="del" class="inp3"></td>
                </tr>
            {/foreach}

            </tbody>

        </table>
        <div class="tc">
           <div class="tc1">
                <button style="width: 80px;height: 30px;" onclick="window.location='{:url(\'Cart/clear\')}'">清空购物车</button>
                <button style="width: 70px;height: 30px;">删除勾选</button>
           </div>
            <div class="tc2">
                <p style="font-size: 14px;font-weight: 800">订单金额</p>

                <?php
                $sum=0;
                foreach($cart as $v){
                if($v['selected'] == 1){
                $sum+=$v['sell_price']*$v['goods_num'];
                }
                }
                ?>

                <span style="font-size: 30px;font-weight: 400" id="sum">￥{$sum}.00</span><br>
                <script>
                    function selectGoods(goods_id) {
                        $goods_id=goods_id;
                        $.ajax({
                            type:'post',
                            dataType:'json',
                            data:{goods_id:$goods_id},
                            url:'/index/Cart/select',
                            success:function (json) {
                                if(json.msg=='success'){
                                    location='/index/Cart/index';

                                    //$('#sum')[0].innerHTML='￥{$sum}.00'
                                }
                            }
                        })
                    }
                </script>
                <span style="font-size: 14px">不含运费</span>
            </div>
            <div class="tc3">
                <a href="/index/Check/index">订单结算</a>
            </div>
        </div>
        <div class="td">
            <h3 style="font-size: 17px">金额明细</h3>
            <div class="nav">
                <ul class="account">
                    <li><span style="float: left">商品小计</span>
                        <span style="float: right">￥{$sum}.00</span></li>
                    <li><span style="float: left">购买金额</span>
                        <span style="float: right;font-size: 25px;font-weight: bold">￥{$sum}.00</span></li>
                    <li><span style="float: left">可得积分</span>
                        <span style="float: right">12点</span></li>
                </ul>
                <button>查看优惠祥情</button>
            </div>
        </div>
        {/if}
    </div>

</div>

</body>
{:widget('Common/footer')}
</html>