{:widget('Common/head')}
<link rel="stylesheet" href="__STATIC__/index/style/check.css">
<div class="warp">
    <div class="cotent">
        <div class="title">
            <h1><i class="icon"></i>结账</h1>
        </div>
        <div class="table">
            <table width="100%">
                <tbody>
                <tr>
                    <td class="ym_step"><a href="/index/Cart/index">
                        <span class="step_number">1</span>购物篮</a></td>
                    <td class="ym_step_arrow"></td>
                    <td class="ym_step current"><a>
                        <span class="step_number">2</span>结账</a></td>
                    <td class="ym_step_arrow"></td>
                    <td class="ym_step"><a href=""><span class="step_number">3</span>收银台</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="dressbox">
            <div class="checktitle"">收货信息</div>
            <div class="">
                <div class="order-info">
                    <a class="btn ym-btn-dropdown" id="choosed"
                       style="width: 100%;">请选择收货地址</a>
                    <div class="addr" style="width: 100%">
                        {if ($addr!=false)}
                        {foreach $addr as $k=>$v}
                        <a class="addr_show"><b class="addr_id">{$addr[$k]['addr_id']}</b>{$addr[$k]['area'].$addr[$k]['address']}&nbsp;&nbsp;{$addr[$k]['ship_name']}&nbsp;&nbsp;{$addr[$k]['ship_mobile']}</a>
                        {/foreach}
                        {/if}
                        <a class="addadd">+添加地址</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="new_addr">

            <form action="{:url('Address/add')}" method="post">
                <input type="text" name="ship_name" id="ship_name" placeholder="收货人">
                <input type="text" name="ship_mobile" id="ship_mobile" placeholder="手机/电话">

                <div style="clear: both;margin-bottom: 15px"></div>

                <select name="area_sheng" id="sheng" class="area" required>
                    <option value="" selected >请选择</option>
                    {foreach $data as $v}
                    <option value="{$v.area_id}">{$v.area_name}</option>
                    {/foreach}
                </select>

                <select name="area_shi" id="shi" class="area" required>
                    <option selected="selected" value="">请选择</option>

                </select>

                <select name="area_qu" id="xian" class="area" required>
                    <option selected="selected" value="">请选择</option>
                </select>
                <input type="text" name="address" id="ship_addr" placeholder="收货地址">
                <label><input type="checkbox" name="def_addr" id="" {if (empty($addr))}checked="checked"{/if}>默认地址</label>
                <div style="clear: both;margin-bottom: 15px"></div>
                <button type="submit" class="new_addr_submit">保存地址</button>
            </form>
        </div>
        <div class="checkout">
            <div class="checkout_title">收货时间</div>
            <div style="height: 54px">
                <div class="timedate">
                    <div class="dropdowm">
                        <a class="btn ym-btn-dropdown" id="dLabel">{$time|date='Y-m-d',###}</a>
                    </div>
                </div>
                <div class="timedate2">
                    <div class="dropdowm">
                        <a class="btn ym-btn-dropdown" id="dLabel">请选择</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="cash">
            <div class="checktitle">优惠券</div>
            <div>
                <div class="deeper">
                    <a class="btn ym-btn-dropdown" id=""
                       style="width: 100%;line-height: 64px">新增优惠券</a>
                </div>
            </div>
        </div>
        <div class="score">
            <div class="checktitle">积分抵扣</div>
            <div class="expand">
                <input type="radio" name="UsePoint" class="radio">
                <span class="pointText">使用<input type="text" class="pointInput" name="point" autocomplete="off">积分，抵扣2.00元 (所有积分200)</span>
            </div>
        </div>
        <div class="score">
            <div class="checktitle">余额抵扣</div>
            <div class="expand">
                <input type="radio" name="UsePoint" class="radio">
                <span class="pointText">使用<input type="text" class="pointInput" name="point" autocomplete="off">元(所有余额￥0.00)，使用账户余额支付的不开发票</span>
            </div>
        </div>
        <div class="score" style="width: 1024px;height: 78px">
            <div class="checktitle">付款</div>
            <div class="online">
                <input type="radio" name="Payment" value="online" style="width: 22px;height: 22px">
            </div>
            <div class="paybut">
                <input type="radio" name="Payment" value="online" style="width: 22px;height: 22px">
            </div>
        </div>
        <div class="score">
            <div class="checktitle">商品清单</div>
            <div class="zone">
                <a class="btnone" id=""></a>
                <div class="fixbox">
                    <img src="../ymshop/image/pic.jpg" style="width:44px;
                    height: 44px;margin-right: 16px" alt="">
                    <div class="cart_count">共1件商品</div>
                    <table width="100%" >
                        <thead style="text-align: left">
                            <th></th>
                            <th>商品</th>
                            <th></th>
                            <th></th>
                            <th>单价</th>
                            <th>数量</th>
                            <th></th>
                            <th>小计</th>
                        </thead>
                        <tbody>

                            {foreach $cart as $v}
                            <tr >
                                <td class="c_id" style="opacity:0;">{$v.cart_id}</td>
                                <td><img src="{$v.image_s_url}" style="width: 44px;height: 44px " alt=""></td>
                                <td class="g_name">{$v.goods_name}</td>
                                <td>￥</td>
                                <td class="g_price">{$v.sell_price}.00</td>
                                <td class="g_num">{$v.goods_num}</td>
                                <td>￥</td>
                                <td class="g_sum">{$v.sell_price*$v.goods_num}.00</td>
                            </tr>
                            {/foreach}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="facash">
            <div class="checktitle"><b>发票</b></div>
            <div class="deeper"><a class="btn ym-btn-dropdown" id="invoice" data-target="#" data-toggle="dropdown"
                                   role="button" aria-haspopup="true" aria-expanded="false"
                                   style="width: 100%;">不开发票</a></div>
        </div>
        <div class="facash" style="margin-top: 20px">
            <div class="checktitle"><b>留言</b></div>
            <div class="deeper"><a class="btn" style="line-height: 72px;background: none;" data-target="#"
                                   data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
                                   style="width: 100%;">可在此给留言客服</a></div>
        </div>
        <div class="sum">
            <ul class="summary" id="order_price">
                <li class="goods"><span class="summary-label"><em style="font-style: normal;">商品小计</em></span>
                    <span class="summary-price"><b><span class="">￥</span>
                        <?php
                        $sum=0;
                        foreach($cart as $v){
                        $sum+=$v['sell_price']*$v['goods_num'];
                        }
                        ?>
                        <span class="">{$sum}.00</span></b></span></li>
                <li class="discount"><span class="summary-label"><em style="font-style: normal;">优惠</em></span>
                    <span class="summary-price"><b>-<span class="">￥</span>
                        <span class="">0.00</span></b></span></li>
                <li class="discount"><span class="summary-label"><em style="font-style: normal;">运费</em></span><span
                        class="summary-price"><b>+<span class="">￥</span><span class="transport">30.00</span></b></span></li>
                <hr>
                <li class="total" style="margin-top: 25px"><span class="summary-label"><em style="font-style: normal;">应付金额</em></span><span
                        class="summary-price"><b><span class="">￥</span><span class="account">{$sum+30}.00</span></b></span></li>
                <div><a class="ym_button" name="CheckCreateOrder" onclick="submitOrder()">提交订单</a>
                </div>
                <div style="margin: 14px 5px 0px;font-size: 10px; color: rgb(21, 55, 74);">
                    <input type="checkbox" name="delivery_note_price" value="none"
                           style="height: 18px;width:18px">
                    <span class="wenzi">不在商品清单上打印价格。</span></div>
            </ul>
        </div>
    </div>
</div>
<script src="__STATIC__/index/style/check.js"></script>
</body>
{:widget('Common/footer')}
</html>