{:widget('Common/head')}
<link rel="stylesheet" href="__STATIC__/index/style/pay.css">
<body>
<div class="count">
    <div class="pay">
        <div class="cart-title"><h1><i class="icon"></i>收银台</h1></div>
        <div id="cart_steps">
            <table width="100%">
                <tbody>
                <tr><th></th>
                    <th style="width: 45px;"></th>
                    <th></th><th style="width: 45px;"></th>
                    <th></th></tr><tr><td class="ym_step active">
                    <a href="javascript:void(0);">
                        <span class="step_number">1</span>购物篮</a></td><td class="ym_step_arrow"></td>
                    <td class="ym_step active"><a href="javascript:void(0);">
                        <span class="step_number">2</span>结账</a></td><td class="ym_step_arrow"></td>
                    <td class="ym_step active current"><a href="javascript:void(0);">
                        <span class="step_number">3</span>收银台</a></td></tr>
                </tbody>
            </table>
        </div>
        <div class="well ym_well">订单生成成功，请选择付款方式<span class="info">订单号 <span class="ym_number">170928101399326</span> &nbsp;&nbsp; 订单金额 <span class="ym_price_number">￥65.00</span></span></div>
        <div class="clearfix ">
            <div class="title">付款方式</div><div><div data-name="Payment" class="mpay">微信在线支付</div><div data-name="Payment" class="alipay">支付宝</div></div></div>
    </div>
</div>
{:widget('Common/footer')}
</body>

</html>