.mainbox{
    width: 1200px;
    margin: 0 auto 50px;
}

.main{
    width: 1020px;
    margin:0 auto ;
    position: relative;
    color: #143749;
}
.main h1{
    padding-left: 42px;
    background: url(/static/index/img/cart.png) no-repeat;
    background-size: 29px;
    background-position: left center;
    font-weight: bold;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", Arial, sans-serif;
    font-size: 21px;
    letter-spacing: 2px;

}
.title{
    height: 31px;
    margin: 20px auto;
}

#cart_steps{
    position: absolute;
    top: 0;
    right: 30px;
}
.ym_step{
    font-size: 15px;
    font-weight: bold;
    margin: 5px;
    line-height: 30px;
}
.common{
    border-bottom: 3px solid #e98772;
}
.ym_step>a{
    color: #143749;
    text-decoration: none;
    background-color: transparent;
}
.step_number{
    margin-right: 10px;
}
.ym_step_arrow{
    background-image: url(/static/index/img/2.png);
    background-size: 13px;
    background-repeat: no-repeat;
    background-position: center;
}

.inp1{
    width:20px;
    height: 20px;
    margin: 10px;
    background-color: transparent;
    border: 1px solid #afc5cd;
}
.inp2{
    width:20px;
    height: 20px;
    margin: 10px;
    background-color: transparent;
    border: 1px solid #afc5cd;
}
.inp3{
    display: block;
    position: relative;
    background-color: #afc5cd!important;
    background-image: url(/static/index/img/icon_delete.png);
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
    border-radius: 19px;
    float: left;
    background-position: center;
    background-size: 14px;
}
.cart_table{
    margin-top: 20px;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid #afc5cd;
}

.cart_table input{
     background-color: transparent;
     border: 1px solid #afc5cd;
 }
.cart_table,tr{
    width: 100%;
}
.cart_table th{
    text-align: left;
    border-bottom: 1px solid #afc5cd;
}
.cart_table td{
    height: 73px;
}
td>p{
    display: inline-block;
    height: 100%;
    line-height: 100%;
    vertical-align: middle;
}
.num-btns input{
    float: left;
}
.dec-btn{
    width: 30px;
    font-size: 20px;
    height: 30px;
    border-radius: 4px 0 0 4px;
}
.inc-btn{
    width: 30px;
    height: 30px;
    border-radius: 0 4px 4px 0;
    font-size: 20px;

}
.num-btns .num{
    width: 40px;
    height: 30px;
    text-align: center;
    border-left: none;
    border-right:none;
}

.tc{
    width: 100%;
    height: 101px;
    border: 1px solid #afc5cd;
    border-top: none;
    padding: 20px;
    background-color: rgba(174, 196, 205, 0.25);
}
.tc1{
    width: 322px;
    height: 30px;
    /*     background-color: #00b5e5;*/
}
.tc2{
    width: 135px;
    height: 70px;
    position: relative;
    /*        background-color: #1f9432;*/
    margin: -35px 0 0 580px;
}
.tc3{
    width: 240px;
    height: 40px;
    float: right;
    position: relative;
    right: 30px;
    bottom: 60px;
}
.tc3 a{
    color: #fff;
    border: 0;
    /* padding-left: 41px; */
    height: 40px;
    min-width: 200px;
    background: url(../ymshop/image/haha.png) no-repeat #15374a;
    background-size: 22px;
    background-position: 15px 9px;
    display: block;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
}
.td{
    width: 255px;
    height: 260px;
    /*    background-color: #0f7cbf;*/
    position: relative;
    left: 765px;
}
.td h3{
    display: block;
    position: absolute;
    top: 30px;
}
.nav{
    position: absolute;
    top: 60px;
}
.nav ul>li{
    width: 233px;
    height: 50px;
}
.account{
    list-style: none;
    border: 1px solid #afc5cd;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
}

.cart-empty {
    margin-bottom: 50px;
    border: 1px solid #e6e6e6;
    background-color: #efefef;
    text-align: center;
    padding: 80px 0 90px;
    font-size: 14px;
    line-height: 2;
    color: #15374A;
    font-weight: bold;
}
.cart-empty img {
    width: 44px;
    margin-bottom: 15px;
}
