*{
    margin: 0;
    padding: 0;
}
.innerwrap{
    width: 1200px;
    margin: 0 auto;
}
.signup-article{
    position: relative;
    margin-bottom: 60px;
    width: 100%;
    float: left;
}
.signup{
    float: left;
    width: 35%;
    height: auto;
    margin-top: 0;
    margin-left: 0;
    position: relative;
    border-radius: 5px;
    margin-bottom: 150px;
    border: none;
    background: #fff;
}
.sign-title{
    height: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 0;
    text-align: left;
    border: none;
}
.sign-title h2{
    letter-spacing: 15px;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", Arial, sans-serif;
    font-weight: bold;
    margin: 0;
    line-height: 24px;
    font-size: 24px;
    color: #15374a;
}
.signup ul{
    margin-top: 0;
    margin-bottom: 10px;
    list-style: none;
}
.form-item{
    margin-bottom: 9px;
    height: auto;
    font-size: 14px;
    font-weight: bold;
    color: #15374A;
    overflow: hidden;
}
.form-label{
    line-height: 46px;
    font-weight: bold;
    margin-right: 10px;
    text-align: left;
    height: auto;
    width: 18%;
    overflow: hidden;
    float: left;
}
.form-act{
    margin-left: 10px;
    padding: 10px 0;
    position: relative;
}
.x-input{
    width: 73%;
    border: 2px solid #d6e2e6;
    height: 38px;
    line-height: 39px;
    padding: 1px 10px;
    border-radius: 0;
    color: rgb(21, 55, 74);
}


.password-check q{
    float: left;
    margin-bottom: 5px;
    font-size: 12px;
}
.lnklike{
    font-size: 14px;
    cursor: pointer;
}
.btn-big{
    width: 100%;
    height: 38px;
    text-align: center;
    border: 0 none;
    display: inline-block;
    background-color: #15374A;
    color: #fff;
    font-weight: bold;
}
.btn{
    position: relative;
    text-decoration: none;
    border-radius: 0px;
    font-size: 16px;
    padding: 6px 12px;
    line-height: 1.42857143;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    outline: none;
}
.need-signup{
    width: 750px;
    /*    height: 624px;*/
    color: #535E6A;
    text-align: center;
    background: none;
    font-size: 14px;
    float: right;
    overflow: hidden;
}
.btna{
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 0px;
    font-size: 16px;
    width: 138px;
    height: 44px;
    cursor: pointer;
    background-color: #15374A;
    color: #fff;
    margin-bottom: 0;
    margin-left: 10px;
}
.btna:hover{
    text-decoration: underline;
}
.yzm{
    display: block;
    margin-top: 10px;
}
/*
.count-down{
    background-color: gray;
    font-weight: 400;
    text-decoration: none;
}
.sms-right{
    width: 20px;
    height: 15px;
    background-image: url("/static/index/img/tick.png");

}
.sms-error{
    width: 18px;
    height: 18px;
    background-image: url("/static/index/img/error.png");
}*/
