<div style="clear: both"></div>
<footer>
    <div class="footer-yimi">
        <!--<img class='footerPhoto' src='https://www.yimishiji.com/themes/yimi/images/footer_pic-small.jpg'>-->
        <div class='inner-wrap footer-main'>
            <div class='footerLogoSec'>
                <div class='footerlogo'>
                    <img src="__STATIC__/index/img/logo_v.png" width="120px">
                </div>
                <p>我们希望从每个家庭餐桌上的最小单位一粒米开始，以线上市集的方法，让更多人结识友善耕耘的农夫，一步一步、一米一米地改善全中国的饮食生态。</p>
            </div>

            <div id="helper" class="page-helper">
                <div class="helper-item" style="margin-left: 50px; "><dl class="content-list">
                    <!-- <dt class="content-title">
                         <a class="link" href="https://www.yimishiji.com/article-help-l-1.html">帮助中心</a>
                     </dt>-->
                    <dd class="node-index content-item">
                        <a href="https://www.yimishiji.com/article-help_babyhelp-136.html" title=相识一米市集>相识一米市集</a>
                    </dd>
                    <dd class="node-index content-item">
                        <a href="https://www.yimishiji.com/article-help_babyhelp-137.html" title=邀约农友>邀约农友</a>
                    </dd>
                    <dd class="node-index content-item">
                        <a href="https://www.yimishiji.com/article-help_babyhelp-138.html" title=退换货办法>退换货办法</a>
                    </dd>
                    <dd class="node-index content-item">
                        <a href="https://www.yimishiji.com/article-help_babyhelp-139.html" title=常遇问题>常遇问题</a>
                    </dd>
                    <dd class="node-index content-item">
                        <a href="https://www.yimishiji.com/article-help_babyhelp-140.html" title=会员积分及感谢制度>会员积分及感谢制度</a>
                    </dd>
                </dl>
                </div>
                <div class="helper-item" style="float: right;margin-right: 30px; "><dl class="content-list">
                    <!--<dt class="content-title">
                        <a class="link" href="https://www.yimishiji.com/article-help-l-1.html">帮助中心</a>
                    </dt>-->
                    <dd class="node-index content-item">
                        <a href="https://www.yimishiji.com/article-help_payment-145.html" title=发票提示>发票提示</a>
                    </dd>
                    <dd class="node-index content-item">
                        <a href="https://www.yimishiji.com/article-help_payment-146.html" title=优惠券用法>优惠券用法</a>
                    </dd>
                    <dd class="node-index content-item">
                        <a href="https://www.yimishiji.com/article-help_payment-144.html" title=支付方式>支付方式</a>
                    </dd>
                </dl>
                </div>
                <div class="helper-item" style="float: right;margin-right: 10px"><dl class="content-list">
                    <!--<dt class="content-title">
                        <a class="link" href="https://www.yimishiji.com/article-help-l-1.html">帮助中心</a>
                    </dt>-->
                    <dd class="node-index content-item">
                        <a href="https://www.yimishiji.com/article-help_compass-141.html" title=全程冷链>全程冷链</a>
                    </dd>
                    <dd class="node-index content-item">
                        <a href="https://www.yimishiji.com/article-help_compass-142.html" title=送达范围及时段>送达范围及时段</a>
                    </dd>
                    <dd class="node-index content-item">
                        <a href="https://www.yimishiji.com/article-help_compass-143.html" title=运费提示>运费提示</a>
                    </dd>
                </dl>
                </div>

                <div class="helper-item" style='display:none'></div>
                <div class="helper-item" style='display:none'></div>
            </div>

            <div class='footerContactInfo'>
                <p>服务热线</p>
                <p class='number'>400-655-1212
                <p>
                <p>周一至周日</p>
                <p class='number'>8:00-21:00
                <p>
                <p>微信公众号</p>
                <p class='number wechate_qr'>
                    <img src="__STATIC__/index/img/qr.png">
                <p>
            </div>
        </div>
        <div class='footerBottom'>
            沪ICP备15037721号 | 食品流通许可证SP3101051510004275 | 上海市长宁区天山西路789号中山国际广场B座2层 | © Copyright 2015 保留所有权利
        </div>
    </div>



</footer>
<script src="__STATIC__/index/style/head.js" type="text/javascript"></script>